* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: $fuente;
    outline: none;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
body {
    border-top: 5px solid $azul;
    border-bottom: 5px solid $azul;
}
header {
    #selected {
        color: $gris;
        border-bottom: 0;
        cursor: text;
    }
    #selected_a {
        background-color: $gris;
        border: 1px solid $gris;
        color: #fff;
        cursor: text;
    }
}
#searchResults {
    margin: 50px 0;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: $bp-1) {
        width: 100%;
    }
    .gifCard {
        margin: 15px 15px;
        min-width: 260px;
        max-width: 260px;
        height: 200px;
        @media (max-width: $bp-1) {
            margin: 10px 10px;
            min-width: 156px;
            max-width: 156px;
            height: 120px;
        }
    }
}
.removeElement{
    display: none;
}
/* 
div.gifHover{
    position: relative;
    img.gifHover{
    }
} */