* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: $fuente;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
header {
    #selected {
        color: $gris;
        border-bottom: 0;
        cursor: text;
    }
    #selected_a {
        background-color: $gris;
        border: 1px solid $gris;
        color: $gris;
        cursor: text;
    }
}
