main {
    .section_buscador {
        margin: 75px 0 100px 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        @media (max-width: $bp-1) {
            margin-top: 5px;
            margin-bottom: 50px;
        }
        h1 {
            width: 16em;
            margin-bottom: 30px;
            font-size: 2.5em;
            font-weight: bold;
            color: $azul;
            @media (max-width: $bp-1) {
                width: 100%;
                padding: 0px 45px;
                font-size: 1.9em;
            }
            span {
                color: $celeste;
            }
        }
        div.formulario {
            img.personas {
                margin-bottom: -4px;
                @media (max-width: $bp-1) {
                    width: 285px;
                }
            }
            div {
                position: relative;
                width: 550px;
                height: 50px;
                @media (max-width: $bp-1) {
                    width: 335px;
                }
                input {
                    display: inline-block;
                    width: 550px;
                    height: 50px;
                    padding-left: 54px;
                    border: 1px solid $azul;
                    border-radius: 27px;
                    -webkit-border-radius: 27px;
                    -moz-border-radius: 27px;
                    -ms-border-radius: 27px;
                    -o-border-radius: 27px;
                    background-color: transparent;
                    @media (max-width: $bp-1) {
                        width: 335px;
                    }
                    &.autocompleteActive {
                        border-radius: 25px 25px 0 0;
                        border-width: 1px 1px 0 1px;
                        -webkit-border-radius: 25px 25px 0 0;
                        -moz-border-radius: 25px 25px 0 0;
                        -ms-border-radius: 25px 25px 0 0;
                        -o-border-radius: 25px 25px 0 0;
                        outline: none;
                        position: relative;
                        ~ label {
                            left: 0px;
                            right: auto;
                            svg {
                                fill: $gris;
                            }
                        }
                        ~ svg {
                            opacity: 1;
                        }
                    }
                }
                input[type="search" i]::-webkit-search-cancel-button {
                    display: none;
                }
                label {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 50px;
                    &:active {
                        left: 0px;
                        right: auto;
                    }
                    svg {
                        fill: $azul;
                        width: 20px;
                        height: 20px;
                    }
                }
                > svg {
                    height: 15px;
                    width: 30px;
                    position: absolute;
                    top: 35%;
                    right: 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    opacity: 0;
                    fill: $azul;
                }
            }
        }
        .ulActive {
            width: 550px;
            border-width: 0 1px 1px 1px;
            border-style: solid;
            border-color: $azul;
            border-radius: 0 0 25px 25px;
            -webkit-border-radius: 0 0 25px 25px;
            -moz-border-radius: 0 0 25px 25px;
            -ms-border-radius: 0 0 25px 25px;
            -o-border-radius: 0 0 25px 25px;
            overflow: hidden;
            color: $gris;
            @media (max-width: $bp-1) {
                width: 335px;
            }
            li {
                width: 100%;
                height: 40px;
                text-align: left;
                display: flex;
                align-items: center;
                &:hover {
                    background-color: #eee;
                }
                &::before {
                    content: url(../../assets/search-gray.svg);
                    width: 16px;
                    margin: 0 25px;
                }
            }
            &::before {
                content: "";
                display: block;
                width: 90%;
                height: 1px;
                background-color: #9cafc3;
                margin-left: 27px;
                @media (max-width: $bp-2) {
                    margin-left: 17px;
                }
                
            }
        }
        article.trending {
            margin-top: 70px;
            color: $azul;
            @media (max-width: $bp-1) {
                padding: 0 65px;
                margin-top: 30px;
            }
            h3 {
                font-size: 1em;
                margin-bottom: 5px;
            }
            p {
                span {
                    text-transform: capitalize;
                    cursor: pointer;
                }
            }
        }
        button {
            @extend %btnSeeMore;
        }
    }
    #searchResults.searchActive {
        @extend %cardsCtn;
        div {
            position: relative;
            .gifCard {
                @extend %cardsGif;
                margin: 10px;
            }
            .gifCardInfo {
                @extend %cardsGif;
                padding: 15px 15px 20px 15px;
                margin: 10px;
                position: absolute;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: rgba($color: $azul, $alpha: 0.6);
                opacity: 0;
                @media (max-width: $bp-1) {
                    margin: 0 10px;
                }
                &:hover {
                    opacity: 1;
                    @media (max-width: $bp-1) {
                        opacity: 0;
                    }
                }
                div {
                    width: 100%;
                    color: #fff;
                    text-align: left;
                    &:first-child {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        a {
                            width: 32px;
                            height: 32px;
                            margin: 0px 5px;
                            border-radius: 6px;
                            -webkit-border-radius: 6px;
                            -moz-border-radius: 6px;
                            -ms-border-radius: 6px;
                            -o-border-radius: 6px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba($color: #fff, $alpha: 0.7);
                            &:hover {
                                background-color: rgba($color: #fff, $alpha: 1);
                            }
                            svg {
                                height: 17px;
                                width: 17px;
                                fill: $azul;
                            }
                            &.favorito_btn {
                                svg:first-child {
                                    display: block;
                                    use {
                                        transform: scale(0.95) translate(-865px, -2784px);
                                    }
                                }
                                svg:last-child {
                                    display: none;
                                    use {
                                        transform: scale(0.85) translate(-261px, -426px);
                                    }
                                }
                                &.cardBtnActive {
                                    svg:first-child {
                                        display: none;
                                    }
                                    svg:last-child {
                                        display: block;
                                    }
                                }
                            }
                            &:nth-child(2) {
                                svg {
                                    use {
                                        transform: translateY(-8px) translateX(-7px);
                                    }
                                }
                            }
                            &.max_btn {
                                @media (max-width: $bp-1) {
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                }
                                svg:first-child {
                                    display: block;
                                }
                                svg:last-child {
                                    display: none;
                                }
                            }
                        }
                    }
                    &:last-child {
                        span {
                            display: block;
                            font-size: 16px;
                            &:last-child {
                                margin-top: 10px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
}
