header {
    height: 100px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    z-index: 1000;
    @media (min-width: $bp-1) and (max-width: $bp-2) {
        padding: 0 50px;
    }
    @media (max-width: $bp-1) {
        padding: 0 22px;
        justify-content: space-between;

    }
    a.logo {
        img {
            width: 68px;
            @media (max-width: $bp-1) {
                width: 48px;
            }
        }
    }
    form {
        //poner display none hasta que el usuario haga scroll
        position: relative;
        width: 335px;
        height: 50px;
        input {
            display: inline-block;
            width: 335px;
            height: 50px;
            padding-left: 55px;
            border: 1px solid $azul;
            border-radius: 27px;
            -webkit-border-radius: 27px;
            -moz-border-radius: 27px;
            -ms-border-radius: 27px;
            -o-border-radius: 27px;
            background-color: transparent;
            &:focus {
                outline: none;
            }
        }
        label {
            position: absolute;
            top: 15px;
            right: 20px;
            img {
                width: 20px;
            }
        }
        @media (max-width: $bp-1) {
            display: none;
        }
    }
    .iconosMenu{
        display: none;
        @media (max-width: $bp-1) {
            display: block;
            i{
                color: $azul;
                display: none;
                font-size: 1.2em;
                &.activo{
                    display: block;
                }
            }
        }
    }

    nav {
        ul {
            display: flex;
            align-items: center;
            li {
                margin: 0 23px;
                text-align: center;
                a {
                    font-weight: bold;
                    color: $azul;
                    &:hover {
                        border-bottom: 2px solid $celeste;
                    }
                    &:active {
                        color: $gris;
                        border-bottom: 0px;
                    }
                }
                .nuevo_gifo {
                    display: inline-block;
                    width: 54px;
                    height: 54px;
                    border: 1px solid $azul;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    text-align: center;
                    line-height: 50px;
                    font-size: 2em;
                    font-weight: lighter;
                    &:hover {
                        border-bottom: 1px solid $azul;
                        background-color: $azul;
                        color: #fff;
                    }
                    &:active {
                        border: 1px solid $gris;
                        background-color: $gris;
                    }
                }
                &:nth-child(4) {
                    a {
                        display: block;
                        min-width: 86px;
                    }
                }
                &:first-child,
                &:nth-child(2) {
                    min-width: 130px;
                    cursor: pointer;
                }
                &:first-child {
                    display: block;
                }
                &:nth-child(2) {
                    display: none;
                }
                @media (max-width: $bp-2) {
                    font-size: 0.7em;
                    margin: 0 13px;
                }
            }
            .modos {
                font-weight: bold;
                color: $azul;
                &:hover {
                    border-bottom: 2px solid $celeste;
                }
                &:active {
                    color: $gris;
                    border-bottom: 0px;
                }
                @media (max-width: $bp-2) {
                    font-size: 0.7em;
                    margin: 0 13px;
                }
            }
        }
        @media (max-width: $bp-1) {
            &.defaultMenu{
                display: none;
            }
            display: block;
            width: 100%;
            height: 75vh;
            position: absolute;
            top: 100px;
            left: 0;
            ul {
                height: 100%;
                flex-direction: column;
                background-color: rgba($color: #572ee5, $alpha: 0.9);
                li {
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    a {
                        color: #fff;
                    }
                    &:last-child {
                        display: none;
                    }
                    &:after {
                        content: "";
                        width: 40px;
                        height: 2px;
                        margin-top: 10px;

                        background-color: #fff;
                        display: block;
                    }
                    &:first-child{
                        width: 100%;
                        margin-top: 50px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .modos {
                    color: #fff;
                }
            }
        }
    }
}
