body {
    position: relative;
}
.ctnMax {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 8000;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
        position: relative;
        min-width: 695px;
        max-width: 695px;
        height: 385px;
        @media (max-width: $bp-2) {
            min-width: 495px;
            max-width: 495px;
            height: 285px;
        }
        @media (max-width: $bp-1) {
            min-width: 243px;
            max-width: 243px;
            height: 187px;
        }
        > img {
            min-width: 695px;
            max-width: 695px;
            height: 385px;
            @media (max-width: $bp-2) {
                min-width: 495px;
                max-width: 495px;
                height: 285px;
            }
            @media (max-width: $bp-1) {
                min-width: 243px;
                max-width: 243px;
                height: 187px;
            }
        }
        .gifCardInfo {
            position: absolute;
            bottom: -80px;
            width: 695px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            @media (max-width: $bp-2) {

                bottom: -180px;
                width: 495px;
                height: 285px;
            }

            @media (max-width: $bp-1) {
                width: 243px;
                height: 187px;
            }
            div {
                color: #000;
                text-align: left;
                &:first-child {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    a {
                        width: 32px;
                        height: 32px;
                        margin: 0px 5px;
                        border-radius: 6px;
                        -webkit-border-radius: 6px;
                        -moz-border-radius: 6px;
                        -ms-border-radius: 6px;
                        -o-border-radius: 6px;
                        border: 1px solid $azul;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgba($color: #fff, $alpha: 0.7);
                        &:hover {
                            background-color: #eee;
                        }
                        svg {
                            height: 17px;
                            width: 17px;
                            fill: $azul;
                        }
                        &.favorito_btn {
                            svg:first-child {
                                display: block;
                                use{
                                    transform: scale(.95) translate(-865px, -2784px);
                                }
                                
                            }
                            svg:last-child {
                                display: none;
                                use{
                                    transform: scale(0.85) translate(-261px, -426px);
                                }
                            }
                            &.cardBtnActive {
                                svg:first-child {
                                    display: none;
                                }
                                svg:last-child {
                                    display: block;
                                }
                            }
                        }
                        &:nth-child(2){
                            svg{
                                use{
                                    transform: translateY(-8px) translateX(-7px);
                                }
                            }
                        }
                        &:last-child {
                            &.btnMaxActive {
                                position: absolute;
                                top: -500px;
                                right: -150px;
                                border: 0px solid transparent;
                                svg:first-child{
                                    display: none;
                                }
                                &:hover{
                                    background-color: transparent;
                                    svg{
                                        fill: $gris;
                                    }
                                }
                                @media (max-width: $bp-2) {
                                    right: -80px;
                                    top: -300px;
                                }
                                @media (max-width: $bp-1) {
                                    right: -15px;
                                }
                            }
                        }
                    }
                }
                &:last-child {
                    span {
                        display: block;
                        font-size: 16px;
                        &:last-child {
                            margin-top: 10px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
