.trending_gifos {
    padding: 65px 90px 180px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f5f8;
    text-align: center;
    @media (max-width: $bp-1) {
        padding-bottom: 80px;
    }
    h2 {
        margin-bottom: 15px;
        font-size: 1.7em;
        font-weight: bold;
        color: $azul;
    }
    p {
        margin-bottom: 50px;
        @media (max-width: $bp-1) {
            padding: 0 60px;
        }
    }
    #gifsCtn {
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
        @media (max-width: $bp-1) {
            /*sacar overflow y widht*/
            width: 100%;
            overflow: hidden;
        }
        button {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid $azul;
            font-size: 1.5em;
            color: $azul;
            &:hover {
                background-color: $azul;
                color: #fff;
            }
            @media (max-width: $bp-1) {
                display: none;
            }
        }
        #gifsTrending{
            display: flex;
            width: 90%;
            overflow: hidden;
            margin: 0 10px;
            img {
                width:370px;
                height: 275px;
                margin: 0px 15px;
                @media (max-width: $bp-1) {
                    margin: 0 20px;
                }
            }
        }
    }
}
