@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$fuente: 'Montserrat', sans-serif;

/*colores*/
$azul: #572ee5;
$celeste: #50e3c2;
$gris: #9cafc3;

/*Breakpoints*/
$bp-1: 768px;
$bp-2: 1024px;