@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

$fuente: "Montserrat", sans-serif;

/*colores*/
$azul: #572ee5;
$celeste: #50e3c2;
$gris: #9cafc3;

/*Breakpoints*/
$bp-1: 768px;
$bp-2: 1024px;

/*extends*/

%cardsCtn {
    margin: 50px 0;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: $bp-1) {
        width: 100%;
    }
}

%cardsGif {
    min-width: 260px;
    max-width: 260px;
    height: 200px;
    @media (max-width: $bp-1) {
        min-width: 156px;
        max-width: 156px;
        height: 120px;
    }
}

%btnSeeMore{
    display: none;
    width: 125px;
    height: 50px;
    margin-bottom: 80px;
    border: 1px solid $azul;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-size: 13px;
    font-family: $fuente;
    font-weight: bold;
    background-color: transparent;
    color: $azul;
    &:hover{
        background-color: $azul;
        color:#fff;
        svg{
            fill: #fff;
        }
    }
    &.seeMoreActive{
        display: block;
    }
    svg{
        margin-top: 2px;
        fill: $azul;
        width: 25px;
        height: 25px;
        animation: rodar 5s linear infinite;
        -webkit-animation: rodar 5s linear infinite;
    }
}
