@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/*colores*/
/*Breakpoints*/
/*extends*/
main #searchResults.searchActive {
  margin: 50px 0;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  main #searchResults.searchActive {
    width: 100%;
  }
}

main #searchResults.searchActive div .gifCard, main #searchResults.searchActive div .gifCardInfo, main .favoritos_con_resultados .flex_gifs > div .gifcard {
  min-width: 260px;
  max-width: 260px;
  height: 200px;
}

@media (max-width: 768px) {
  main #searchResults.searchActive div .gifCard, main #searchResults.searchActive div .gifCardInfo, main .favoritos_con_resultados .flex_gifs > div .gifcard {
    min-width: 156px;
    max-width: 156px;
    height: 120px;
  }
}

main .section_buscador button, main .favoritos_con_resultados button {
  display: none;
  width: 125px;
  height: 50px;
  margin-bottom: 80px;
  border: 1px solid #572ee5;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: #fff;
  color: #572ee5;
}

main .section_buscador button:hover, main .favoritos_con_resultados button:hover {
  background-color: #572ee5;
  color: #fff;
}

main .section_buscador button.seeMoreActive, main .favoritos_con_resultados button.seeMoreActive {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  border-top: 5px solid #572ee5;
  border-bottom: 5px solid #572ee5;
}

header #selected {
  color: #9cafc3;
  border-bottom: 0;
  cursor: text;
}

header #selected_a {
  background-color: #9cafc3;
  border: 1px solid #9cafc3;
  cursor: text;
}

header #selected_a svg {
  fill: #fff;
}

.removeElement {
  display: none;
}

header {
  height: 100px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  z-index: 1000;
}

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0 22px;
    justify-content: space-between;
  }
}

header a.logo img {
  width: 68px;
}

@media (max-width: 1024px) {
  header a.logo img {
    width: 48px;
  }
}

header .formularios {
  display: none;
  position: relative;
  width: 335px;
  height: 50px;
}

header .formularios input {
  display: inline-block;
  width: 335px;
  height: 50px;
  padding-left: 55px;
  border: 1px solid #572ee5;
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  background-color: transparent;
}

header .formularios input:focus {
  outline: none;
}

header .formularios input.autocompleteActive {
  border-radius: 25px 25px 0 0;
  border-width: 1px 1px 0 1px;
  -webkit-border-radius: 25px 25px 0 0;
  -moz-border-radius: 25px 25px 0 0;
  -ms-border-radius: 25px 25px 0 0;
  -o-border-radius: 25px 25px 0 0;
  outline: none;
  position: relative;
}

header .formularios input.autocompleteActive ~ label {
  left: 0px;
  right: auto;
}

header .formularios input.autocompleteActive ~ label svg {
  fill: #9cafc3;
}

header .formularios input.autocompleteActive ~ svg {
  opacity: 1;
}

header .formularios input[type="search" i]::-webkit-search-cancel-button {
  display: none;
}

header .formularios label {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
}

header .formularios label:active {
  left: 0px;
  right: auto;
}

header .formularios label svg {
  fill: #572ee5;
  width: 20px;
  height: 20px;
}

header .formularios > svg {
  height: 15px;
  width: 30px;
  position: absolute;
  top: 35%;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  fill: #572ee5;
}

header .iconosMenu {
  display: none;
}

@media (max-width: 768px) {
  header .iconosMenu {
    display: block;
  }
  header .iconosMenu svg {
    fill: #572ee5;
    display: none;
    width: 15px;
    height: 15px;
  }
  header .iconosMenu svg#bars {
    display: block;
  }
  header .iconosMenu.menuActivo svg {
    display: block;
  }
  header .iconosMenu.menuActivo svg#bars {
    display: none;
  }
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  margin: 0 23px;
  text-align: center;
}

header nav ul li a {
  font-weight: bold;
  color: #572ee5;
}

header nav ul li a:hover {
  border-bottom: 2px solid #50e3c2;
}

@media (max-width: 1024px) {
  header nav ul li a:hover {
    border-bottom: 0px solid #50e3c2;
  }
}

header nav ul li a:active {
  color: #9cafc3;
  border-bottom: 0px;
}

header nav ul li .nuevo_gifo {
  display: inline-block;
  width: 54px;
  height: 54px;
  border: 1px solid #572ee5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  line-height: 57px;
}

header nav ul li .nuevo_gifo:hover {
  border-bottom: 1px solid #572ee5;
  background-color: #572ee5;
}

header nav ul li .nuevo_gifo:hover svg {
  fill: #fff;
}

header nav ul li .nuevo_gifo:active {
  border: 1px solid #9cafc3;
  background-color: #9cafc3;
}

header nav ul li .nuevo_gifo svg {
  fill: #572ee5;
  width: 16px;
  height: 16px;
}

@media (max-width: 1024px) {
  header nav ul li .nuevo_gifo {
    width: 32px;
    height: 32px;
    line-height: 36px;
  }
  header nav ul li .nuevo_gifo svg {
    transform: scale(0.8);
  }
}

header nav ul li:nth-child(4) a {
  display: block;
  min-width: 86px;
}

header nav ul li:first-child, header nav ul li:nth-child(2) {
  min-width: 130px;
  cursor: pointer;
}

header nav ul li:first-child {
  display: block;
}

header nav ul li:nth-child(2) {
  display: none;
}

@media (max-width: 1024px) {
  header nav ul li {
    font-size: 0.7em;
    margin: 0 13px;
  }
}

header nav ul .modos {
  font-weight: bold;
  color: #572ee5;
}

header nav ul .modos:hover {
  border-bottom: 2px solid #50e3c2;
}

@media (max-width: 1024px) {
  header nav ul .modos:hover {
    border-bottom: 0px solid #50e3c2;
  }
}

header nav ul .modos:active {
  color: #9cafc3;
  border-bottom: 0px;
}

@media (max-width: 1024px) {
  header nav ul .modos {
    font-size: 0.7em;
    margin: 0 13px;
  }
}

@media (max-width: 768px) {
  header nav {
    display: block;
    width: 100%;
    height: 75vh;
    position: absolute;
    top: 100px;
    left: 0;
  }
  header nav.defaultMenu {
    display: none;
  }
  header nav ul {
    height: 100%;
    flex-direction: column;
    background-color: rgba(87, 46, 229, 0.9);
  }
  header nav ul li {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header nav ul li a {
    color: #fff;
  }
  header nav ul li a.nuevo_gifo {
    border-color: #fff;
  }
  header nav ul li:last-child {
    border-color: #fff;
  }
  header nav ul li:last-child::after {
    display: none;
  }
  header nav ul li::after {
    content: "";
    width: 40px;
    height: 2px;
    margin-top: 10px;
    background-color: #fff;
    display: block;
  }
  header nav ul li:first-child {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header nav ul .modos {
    color: #fff;
  }
}

.onScroll {
  box-shadow: 0 2px 10px 1px rgba(156, 175, 195, 0.55);
}

.onScroll div.formularios {
  display: block;
}

@media (max-width: 768px) {
  .onScroll div.formularios {
    display: none;
  }
}

.trending_gifos {
  padding: 65px 90px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f5f8;
  text-align: center;
}

@media (max-width: 768px) {
  .trending_gifos {
    padding: 65px 0 80px;
  }
}

.trending_gifos h2 {
  margin-bottom: 15px;
  font-size: 1.7em;
  font-weight: bold;
  color: #572ee5;
}

.trending_gifos p {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .trending_gifos p {
    padding: 0 60px;
  }
}

.trending_gifos #gifsCtn {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .trending_gifos #gifsCtn {
    width: 100%;
    justify-content: center;
  }
}

.trending_gifos #gifsCtn button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #572ee5;
}

.trending_gifos #gifsCtn button svg {
  height: 100%;
  width: 100%;
  fill: #572ee5;
  margin-top: 20px;
  margin-left: 13px;
}

.trending_gifos #gifsCtn button:hover {
  background-color: #572ee5;
}

.trending_gifos #gifsCtn button:hover svg {
  fill: #fff;
}

@media (max-width: 768px) {
  .trending_gifos #gifsCtn button {
    position: absolute;
    width: 50%;
    height: 100%;
    opacity: 0;
    z-index: 200;
  }
  .trending_gifos #gifsCtn button#btnRight {
    right: 0;
  }
  .trending_gifos #gifsCtn button#btnLeft {
    left: 0;
  }
  .trending_gifos #gifsCtn button img {
    display: none;
  }
}

.trending_gifos #gifsCtn .inactive {
  background-color: #9cafc3;
  border-color: #9cafc3;
  cursor: default;
}

.trending_gifos #gifsCtn .inactive:hover {
  background-color: #9cafc3;
}

.trending_gifos #gifsCtn .inactive svg {
  fill: #fff;
}

.trending_gifos #gifsCtn #gifsTrending {
  display: flex;
  width: 90%;
  overflow: hidden;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .trending_gifos #gifsCtn #gifsTrending {
    width: 100%;
    justify-content: space-between;
  }
}

.trending_gifos #gifsCtn #gifsTrending > div {
  position: relative;
  min-width: 370px;
  max-width: 370px;
  height: 275px;
  margin: 0px 15px;
}

@media (max-width: 768px) {
  .trending_gifos #gifsCtn #gifsTrending > div {
    min-width: 243px;
    max-width: 243px;
    height: 187px;
    margin: 0 10px;
  }
}

.trending_gifos #gifsCtn #gifsTrending > div > img {
  min-width: 370px;
  max-width: 370px;
  height: 275px;
  margin: 0px 15px;
}

@media (max-width: 768px) {
  .trending_gifos #gifsCtn #gifsTrending > div > img {
    min-width: 243px;
    max-width: 243px;
    height: 187px;
    margin: 0 10px;
  }
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo {
  padding: 15px 15px 50px 15px;
  position: absolute;
  top: 0;
  width: 370px;
  height: 275px;
  margin: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(87, 46, 229, 0.6);
  opacity: 0;
}

@media (max-width: 768px) {
  .trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo {
    width: 243px;
    height: 187px;
    margin: 0 10px;
  }
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo:hover {
  opacity: 1;
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo div {
  width: 100%;
  color: #fff;
  text-align: left;
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo div:first-child a {
  width: 32px;
  height: 32px;
  margin: 0px 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo div:first-child a:hover {
  background-color: white;
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo div:first-child a svg {
  height: 17px;
  width: 17px;
  fill: #572ee5;
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo div:first-child a.favorito_btn svg:first-child {
  display: block;
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo div:first-child a.favorito_btn svg:first-child use {
  transform: scale(0.95) translate(-865px, -2784px);
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo div:first-child a.favorito_btn svg:last-child {
  display: none;
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo div:first-child a.favorito_btn svg:last-child use {
  transform: scale(0.85) translate(-261px, -426px);
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo div:first-child a.favorito_btn.cardBtnActive svg:first-child {
  display: none;
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo div:first-child a.favorito_btn.cardBtnActive svg:last-child {
  display: block;
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo div:first-child a:nth-child(2) svg use {
  transform: translateY(-8px) translateX(-7px);
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo div:first-child a.max_btn svg:first-child {
  display: block;
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo div:first-child a.max_btn svg:last-child {
  display: none;
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo div:last-child span {
  display: block;
  font-size: 16px;
}

.trending_gifos #gifsCtn #gifsTrending > div .gifCardInfo div:last-child span:last-child {
  margin-top: 10px;
  font-weight: bold;
}

main .section_buscador {
  margin: 75px 0 100px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

@media (max-width: 768px) {
  main .section_buscador {
    margin-top: 5px;
    margin-bottom: 50px;
  }
}

main .section_buscador h1 {
  width: 16em;
  margin-bottom: 30px;
  font-size: 2.5em;
  font-weight: bold;
  color: #572ee5;
}

@media (max-width: 768px) {
  main .section_buscador h1 {
    width: 100%;
    padding: 0px 45px;
    font-size: 1.9em;
  }
}

main .section_buscador h1 span {
  color: #50e3c2;
}

main .section_buscador div.formulario img.personas {
  margin-bottom: -4px;
}

@media (max-width: 768px) {
  main .section_buscador div.formulario img.personas {
    width: 285px;
  }
}

main .section_buscador div.formulario div {
  position: relative;
  width: 550px;
  height: 50px;
}

@media (max-width: 768px) {
  main .section_buscador div.formulario div {
    width: 335px;
  }
}

main .section_buscador div.formulario div input {
  display: inline-block;
  width: 550px;
  height: 50px;
  padding-left: 54px;
  border: 1px solid #572ee5;
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  -ms-border-radius: 27px;
  -o-border-radius: 27px;
  background-color: transparent;
}

@media (max-width: 768px) {
  main .section_buscador div.formulario div input {
    width: 335px;
  }
}

main .section_buscador div.formulario div input.autocompleteActive {
  border-radius: 25px 25px 0 0;
  border-width: 1px 1px 0 1px;
  -webkit-border-radius: 25px 25px 0 0;
  -moz-border-radius: 25px 25px 0 0;
  -ms-border-radius: 25px 25px 0 0;
  -o-border-radius: 25px 25px 0 0;
  outline: none;
  position: relative;
}

main .section_buscador div.formulario div input.autocompleteActive ~ label {
  left: 0px;
  right: auto;
}

main .section_buscador div.formulario div input.autocompleteActive ~ label svg {
  fill: #9cafc3;
}

main .section_buscador div.formulario div input.autocompleteActive ~ svg {
  opacity: 1;
}

main .section_buscador div.formulario div input[type="search" i]::-webkit-search-cancel-button {
  display: none;
}

main .section_buscador div.formulario div label {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
}

main .section_buscador div.formulario div label:active {
  left: 0px;
  right: auto;
}

main .section_buscador div.formulario div label svg {
  fill: #572ee5;
  width: 20px;
  height: 20px;
}

main .section_buscador div.formulario div > svg {
  height: 15px;
  width: 30px;
  position: absolute;
  top: 35%;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  fill: #572ee5;
}

main .section_buscador .ulActive {
  width: 550px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #572ee5;
  border-radius: 0 0 25px 25px;
  -webkit-border-radius: 0 0 25px 25px;
  -moz-border-radius: 0 0 25px 25px;
  -ms-border-radius: 0 0 25px 25px;
  -o-border-radius: 0 0 25px 25px;
  overflow: hidden;
  color: #9cafc3;
}

@media (max-width: 768px) {
  main .section_buscador .ulActive {
    width: 335px;
  }
}

main .section_buscador .ulActive li {
  width: 100%;
  height: 40px;
  text-align: left;
  display: flex;
  align-items: center;
}

main .section_buscador .ulActive li:hover {
  background-color: #eee;
}

main .section_buscador .ulActive li::before {
  content: url(../../assets/search-gray.svg);
  width: 16px;
  margin: 0 25px;
}

main .section_buscador article.trending {
  margin-top: 70px;
  color: #572ee5;
}

@media (max-width: 768px) {
  main .section_buscador article.trending {
    padding: 0 65px;
    margin-top: 30px;
  }
}

main .section_buscador article.trending h3 {
  font-size: 1em;
  margin-bottom: 5px;
}

main #searchResults.searchActive div {
  position: relative;
}

main #searchResults.searchActive div .gifCard {
  margin: 10px;
}

main #searchResults.searchActive div .gifCardInfo {
  padding: 15px 15px 20px 15px;
  margin: 10px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(87, 46, 229, 0.6);
  opacity: 0;
}

@media (max-width: 768px) {
  main #searchResults.searchActive div .gifCardInfo {
    margin: 0 10px;
  }
}

main #searchResults.searchActive div .gifCardInfo:hover {
  opacity: 1;
}

main #searchResults.searchActive div .gifCardInfo div {
  width: 100%;
  color: #fff;
  text-align: left;
}

main #searchResults.searchActive div .gifCardInfo div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

main #searchResults.searchActive div .gifCardInfo div:first-child a {
  width: 32px;
  height: 32px;
  margin: 0px 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

main #searchResults.searchActive div .gifCardInfo div:first-child a:hover {
  background-color: white;
}

main #searchResults.searchActive div .gifCardInfo div:first-child a svg {
  height: 17px;
  width: 17px;
  fill: #572ee5;
}

main #searchResults.searchActive div .gifCardInfo div:first-child a.favorito_btn svg:first-child {
  display: block;
}

main #searchResults.searchActive div .gifCardInfo div:first-child a.favorito_btn svg:first-child use {
  transform: scale(0.95) translate(-865px, -2784px);
}

main #searchResults.searchActive div .gifCardInfo div:first-child a.favorito_btn svg:last-child {
  display: none;
}

main #searchResults.searchActive div .gifCardInfo div:first-child a.favorito_btn svg:last-child use {
  transform: scale(0.85) translate(-261px, -426px);
}

main #searchResults.searchActive div .gifCardInfo div:first-child a.favorito_btn.cardBtnActive svg:first-child {
  display: none;
}

main #searchResults.searchActive div .gifCardInfo div:first-child a.favorito_btn.cardBtnActive svg:last-child {
  display: block;
}

main #searchResults.searchActive div .gifCardInfo div:first-child a:nth-child(2) svg use {
  transform: translateY(-8px) translateX(-7px);
}

main #searchResults.searchActive div .gifCardInfo div:first-child a.max_btn svg:first-child {
  display: block;
}

main #searchResults.searchActive div .gifCardInfo div:first-child a.max_btn svg:last-child {
  display: none;
}

main #searchResults.searchActive div .gifCardInfo div:last-child span {
  display: block;
  font-size: 16px;
}

main #searchResults.searchActive div .gifCardInfo div:last-child span:last-child {
  margin-top: 10px;
  font-weight: bold;
}

main .titulo_favoritos {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .titulo_favoritos img {
  width: 30px;
}

main .titulo_favoritos h1 {
  color: #572ee5;
}

main .favoritos_con_resultados {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .favoritos_con_resultados .flex_gifs {
  margin: 50px 0;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  main .favoritos_con_resultados .flex_gifs {
    width: 100%;
  }
}

main .favoritos_con_resultados .flex_gifs > div {
  position: relative;
  min-width: 260px;
  max-width: 260px;
  height: 200px;
  margin: 15px;
}

@media (max-width: 768px) {
  main .favoritos_con_resultados .flex_gifs > div {
    min-width: 156px;
    max-width: 156px;
    height: 120px;
    margin: 10px;
  }
}

main .favoritos_con_resultados .flex_gifs > div .gifCardInfo {
  padding: 15px 15px 20px 15px;
  position: absolute;
  top: 0;
  width: 260px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(87, 46, 229, 0.6);
  opacity: 0;
}

@media (max-width: 768px) {
  main .favoritos_con_resultados .flex_gifs > div .gifCardInfo {
    width: 156px;
    height: 120px;
  }
}

main .favoritos_con_resultados .flex_gifs > div .gifCardInfo:hover {
  opacity: 1;
}

main .favoritos_con_resultados .flex_gifs > div .gifCardInfo div {
  width: 100%;
  color: #fff;
  text-align: left;
}

main .favoritos_con_resultados .flex_gifs > div .gifCardInfo div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

main .favoritos_con_resultados .flex_gifs > div .gifCardInfo div:first-child a {
  width: 32px;
  height: 32px;
  margin: 0px 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

main .favoritos_con_resultados .flex_gifs > div .gifCardInfo div:first-child a:hover {
  background-color: white;
}

main .favoritos_con_resultados .flex_gifs > div .gifCardInfo div:first-child a img {
  width: 18px;
  height: 18px;
}

main .favoritos_con_resultados .flex_gifs > div .gifCardInfo div:first-child a.favorito_btn img:first-child {
  display: block;
}

main .favoritos_con_resultados .flex_gifs > div .gifCardInfo div:first-child a.favorito_btn img:last-child {
  display: none;
}

main .favoritos_con_resultados .flex_gifs > div .gifCardInfo div:first-child a.favorito_btn.cardBtnActive img:first-child {
  display: none;
}

main .favoritos_con_resultados .flex_gifs > div .gifCardInfo div:first-child a.favorito_btn.cardBtnActive img:last-child {
  display: block;
}

main .favoritos_con_resultados .flex_gifs > div .gifCardInfo div:last-child span {
  display: block;
}

main .favoritos_con_resultados .flex_gifs > div .gifCardInfo div:last-child span:last-child {
  margin-top: 10px;
  font-weight: bold;
}

main .favoritos_sin_resultados {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main .favoritos_sin_resultados img {
  width: 150px;
  margin-top: 110px;
  margin-bottom: 25px;
}

main .favoritos_sin_resultados span {
  width: 427px;
  margin-bottom: 140px;
  color: #50e3c2;
  font-weight: bold;
  font-size: 1.4em;
}

@media (max-width: 1024px) {
  main .favoritos_sin_resultados span {
    width: 100%;
    padding: 0px 10px;
  }
}

main .titulo_misgifos {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .titulo_misgifos img {
  width: 30px;
}

main .titulo_misgifos h1 {
  color: #572ee5;
}

main .misgifos_con_resultados {
  display: none;
  flex-direction: column;
  align-items: center;
}

main .misgifos_con_resultados .flex_gifs {
  margin: 40px 156px 80px 156px;
  width: 1130px;
  height: 660px;
  border: 2px solid #572ee5;
}

main .misgifos_con_resultados button {
  width: 125px;
  height: 50px;
  margin-bottom: 80px;
  border: 1px solid #572ee5;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: #fff;
  color: #572ee5;
}

main .misgifos_con_resultados button:hover {
  background-color: #572ee5;
  color: #fff;
}

main .misgifos_sin_resultados {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main .misgifos_sin_resultados img {
  width: 150px;
  margin-top: 110px;
  margin-bottom: 25px;
}

main .misgifos_sin_resultados span {
  width: 427px;
  margin-bottom: 140px;
  color: #50e3c2;
  font-weight: bold;
  font-size: 1.4em;
}

@media (max-width: 1024px) {
  main .misgifos_sin_resultados span {
    width: 100%;
  }
}

.main_creargifo {
  margin-bottom: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.main_creargifo .contenedor_video {
  width: 690px;
  height: 390px;
  margin-top: 5px;
  border: 1px solid #572ee5;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .main_creargifo .contenedor_video {
    margin: 50px 0 0;
    width: 95%;
    height: 200px;
  }
}

.main_creargifo .contenedor_video article h2 {
  font-size: 1.7em;
  color: #572ee5;
}

@media (max-width: 1024px) {
  .main_creargifo .contenedor_video article h2 {
    font-size: 1.2em;
  }
}

.main_creargifo .contenedor_video article h2 span:first-child {
  display: block;
}

.main_creargifo .contenedor_video article h2 span:last-child {
  color: #50e3c2;
}

.main_creargifo .contenedor_video article p {
  margin-top: 10px;
}

.main_creargifo .contenedor_video article p span:first-child {
  margin-bottom: 15px;
  display: block;
}

@media (max-width: 1024px) {
  .main_creargifo .contenedor_video article p span:first-child {
    margin-bottom: 5px;
  }
}

@media (max-width: 1024px) {
  .main_creargifo .contenedor_video article p {
    font-size: 0.8em;
  }
}

.main_creargifo .contenedor_video video {
  position: absolute;
  width: 480px;
  height: 320px;
}

@media (max-width: 1024px) {
  .main_creargifo .contenedor_video video {
    width: 256px;
    height: 150px;
  }
}

.main_creargifo .contenedor_video .marcos {
  width: 25px;
  height: 25px;
  position: absolute;
}

.main_creargifo .contenedor_video .m1 {
  top: 25px;
  left: 25px;
  border-left: 1px solid #50e3c2;
  border-top: 1px solid #50e3c2;
}

@media (max-width: 1024px) {
  .main_creargifo .contenedor_video .m1 {
    top: 10px;
    left: 10px;
  }
}

.main_creargifo .contenedor_video .m2 {
  top: 25px;
  right: 25px;
  border-right: 1px solid #50e3c2;
  border-top: 1px solid #50e3c2;
}

@media (max-width: 1024px) {
  .main_creargifo .contenedor_video .m2 {
    top: 10px;
    right: 10px;
  }
}

.main_creargifo .contenedor_video .m3 {
  bottom: 25px;
  left: 25px;
  border-left: 1px solid #50e3c2;
  border-bottom: 1px solid #50e3c2;
}

@media (max-width: 1024px) {
  .main_creargifo .contenedor_video .m3 {
    bottom: 10px;
    left: 10px;
  }
}

.main_creargifo .contenedor_video .m4 {
  bottom: 25px;
  right: 25px;
  border-right: 1px solid #50e3c2;
  border-bottom: 1px solid #50e3c2;
}

@media (max-width: 1024px) {
  .main_creargifo .contenedor_video .m4 {
    bottom: 10px;
    right: 10px;
  }
}

.main_creargifo .contenedor_video .imagenes_creargifos {
  height: 161px;
  width: 225px;
  position: absolute;
  left: -225px;
}

@media (max-width: 1024px) {
  .main_creargifo .contenedor_video .imagenes_creargifos {
    display: none;
  }
}

.main_creargifo .contenedor_video .imagenes_creargifos img {
  position: absolute;
}

.main_creargifo .contenedor_video .imagenes_creargifos .camara {
  bottom: 0;
  left: 0;
  width: 130px;
}

.main_creargifo .contenedor_video .imagenes_creargifos .cinta1 {
  width: 45px;
  top: 5px;
  left: 0;
}

.main_creargifo .contenedor_video .imagenes_creargifos .cinta2 {
  width: 63px;
  bottom: 110px;
  right: 110px;
}

.main_creargifo .contenedor_video .imagenes_creargifos .luz {
  right: 0;
  top: 0;
  width: 90px;
  animation: parpadeo 3s linear infinite;
  -webkit-animation: parpadeo 3s linear infinite;
}

.main_creargifo .contenedor_video .imagenes_creargifos .cinta1,
.main_creargifo .contenedor_video .imagenes_creargifos .cinta2 {
  animation: rodar 5s linear infinite;
  -webkit-animation: rodar 5s linear infinite;
}

.main_creargifo div.contenedor_contador_pasos {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main_creargifo div.contenedor_contador_pasos ul {
  margin-top: 25px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.main_creargifo div.contenedor_contador_pasos ul .contador_pasos {
  width: 32px;
  height: 32px;
  padding: 5px;
  border: 1px solid #572ee5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #572ee5;
  font-weight: bold;
  text-align: center;
}

.main_creargifo div.contenedor_contador_pasos::after {
  content: "";
  margin-top: 20px;
  display: block;
  width: 800px;
  height: 7px;
  background-color: #572ee5;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

@media (max-width: 1024px) {
  .main_creargifo div.contenedor_contador_pasos::after {
    width: 300px;
    height: 4px;
  }
}

.main_creargifo div.contenedor_contador_pasos div#aditionaltext {
  position: absolute;
  right: 60px;
  top: 40%;
  color: #572ee5;
  font-weight: bold;
}

.main_creargifo div.contenedor_contador_pasos div#aditionaltext:hover {
  border-bottom: 2px solid #50e3c2;
}

@media (max-width: 1024px) {
  .main_creargifo div.contenedor_contador_pasos div#aditionaltext {
    position: relative;
    top: inherit;
    right: inherit;
    margin-top: 20px;
  }
}

.main_creargifo div.contenedor_contador_pasos .pelicula {
  position: absolute;
  right: -160px;
  top: -10px;
}

@media (max-width: 1024px) {
  .main_creargifo div.contenedor_contador_pasos .pelicula {
    display: none;
  }
}

.main_creargifo button {
  display: none;
  cursor: pointer;
  margin-top: 20px;
  width: 130px;
  height: 50px;
  border: 1px solid #572ee5;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: transparent;
  outline: none;
  color: #572ee5;
  font-weight: bold;
}

.main_creargifo button:hover {
  background-color: #572ee5;
  color: #fff;
}

.main_creargifo button.activo {
  display: block;
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rodar {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

footer {
  padding: 50px 156px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    padding: 50px 50px;
  }
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }
}

footer > div {
  display: flex;
}

@media (max-width: 768px) {
  footer > div {
    flex-direction: column;
    text-align: center;
  }
}

footer > div span {
  margin-right: 15px;
}

@media (max-width: 768px) {
  footer > div span {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

footer > div div a {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  display: inline-block;
}

@media (max-width: 768px) {
  footer > div div a:last-child {
    margin-right: 0;
  }
}

footer > div div a svg {
  width: 100%;
  height: 100%;
  fill: #9cafc3;
}

footer > div div a svg:hover {
  fill: #572ee5;
}

@media (max-width: 768px) {
  footer .copyright {
    margin-top: 45px;
  }
}

.diurno {
  display: block;
}

.nocturno {
  display: none;
}

body.body_nocturno {
  border-color: #222326;
  background-color: #2f3236;
}

body.body_nocturno header {
  background-color: #2f3236;
}

body.body_nocturno header.onScroll {
  box-shadow: 0 2px 10px 1px rgba(156, 175, 195, 0.2);
}

@media (max-width: 768px) {
  body.body_nocturno header .iconosMenu svg {
    fill: #fff;
  }
}

body.body_nocturno header .formularios input {
  border-color: #fff;
  color: #fff;
}

@media (max-width: 768px) {
  body.body_nocturno header nav ul {
    background-color: #000;
  }
}

body.body_nocturno header nav ul li:first-child {
  display: none;
}

body.body_nocturno header nav ul li:first-child::after {
  display: none;
}

body.body_nocturno header nav ul li:nth-child(2) {
  display: block;
  color: #fff;
}

@media (max-width: 768px) {
  body.body_nocturno header nav ul li:nth-child(2) {
    width: 100%;
    height: 60px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body.body_nocturno header nav ul li:nth-child(2):after {
    content: "";
    width: 40px;
    height: 2px;
    margin-top: 10px;
    display: block;
    background-color: #fff;
  }
}

body.body_nocturno header nav ul li .nuevo_gifo svg {
  fill: #fff;
}

body.body_nocturno header nav ul li .nuevo_gifo:hover svg {
  fill: #222326;
}

body.body_nocturno main h1,
body.body_nocturno main h2,
body.body_nocturno h3,
body.body_nocturno p,
body.body_nocturno span,
body.body_nocturno i,
body.body_nocturno a {
  color: #fff;
}

body.body_nocturno main a {
  border-color: #fff;
}

body.body_nocturno main a:hover {
  background-color: #fff;
}

body.body_nocturno main a:hover i {
  color: #222326;
}

body.body_nocturno header nav ul li a.nuevo_gifo {
  border-color: #fff;
}

body.body_nocturno header nav ul li a.nuevo_gifo:hover {
  background-color: #fff;
}

body.body_nocturno header nav ul li a.nuevo_gifo:hover i {
  color: #222326;
}

body.body_nocturno .section_buscador .ulActive {
  border-color: #fff;
}

body.body_nocturno .section_buscador .ulActive li {
  color: #9cafc3;
}

body.body_nocturno .section_buscador .ulActive li:hover {
  background-color: #5b6169;
}

body.body_nocturno .trending_gifos {
  background-color: #2f3236;
}

body.body_nocturno .trending_gifos #gifsCtn button {
  background-color: transparent;
  border-color: #fff;
}

body.body_nocturno .trending_gifos #gifsCtn button svg {
  fill: #fff;
}

body.body_nocturno .trending_gifos #gifsCtn button:hover {
  background-color: #fff;
}

body.body_nocturno .trending_gifos #gifsCtn button:hover svg {
  fill: #222326;
}

body.body_nocturno .trending_gifos #gifsCtn .inactive {
  background-color: #9cafc3;
  border-color: #9cafc3;
  cursor: default;
}

body.body_nocturno .trending_gifos #gifsCtn .inactive:hover {
  background-color: #9cafc3;
}

body.body_nocturno .trending_gifos #gifsCtn .inactive:hover svg {
  fill: #fff;
}

body.body_nocturno .trending_gifos #gifsCtn .inactive svg {
  fill: #fff;
}

body.body_nocturno div.formulario div.formularios input {
  border-color: #fff;
  color: #fff;
}

body.body_nocturno div.formularios svg.closeSearch {
  fill: #fff;
}

body.body_nocturno div.formularios svg.searchbtn {
  fill: #fff;
}

body.body_nocturno .ctnMax {
  background-color: #222326;
}

body.body_nocturno .ctnMax > div .gifCardInfo div:first-child a {
  background-color: transparent;
  border-color: #fff;
}

body.body_nocturno .ctnMax > div .gifCardInfo div:first-child a:hover {
  background-color: #5b6169;
}

body.body_nocturno .ctnMax > div .gifCardInfo div:first-child a:last-child:hover {
  background-color: transparent;
}

body.body_nocturno .ctnMax > div .gifCardInfo div:first-child a svg {
  fill: #fff;
}

body.body_nocturno .diurno {
  display: none;
}

body.body_nocturno .nocturno {
  display: block;
}

body.body_nocturno ul.ul_creargifos li.contador_pasos {
  border-color: #50e3c2;
  color: #50e3c2;
}

body.body_nocturno footer svg:hover {
  fill: #fff;
}

body {
  position: relative;
}

.ctnMax {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 8000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctnMax > div {
  position: relative;
  min-width: 695px;
  max-width: 695px;
  height: 385px;
}

@media (max-width: 1024px) {
  .ctnMax > div {
    min-width: 495px;
    max-width: 495px;
    height: 285px;
  }
}

@media (max-width: 768px) {
  .ctnMax > div {
    min-width: 243px;
    max-width: 243px;
    height: 187px;
  }
}

.ctnMax > div > img {
  min-width: 695px;
  max-width: 695px;
  height: 385px;
}

@media (max-width: 1024px) {
  .ctnMax > div > img {
    min-width: 495px;
    max-width: 495px;
    height: 285px;
  }
}

@media (max-width: 768px) {
  .ctnMax > div > img {
    min-width: 243px;
    max-width: 243px;
    height: 187px;
  }
}

.ctnMax > div .gifCardInfo {
  position: absolute;
  bottom: -80px;
  width: 695px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

@media (max-width: 1024px) {
  .ctnMax > div .gifCardInfo {
    bottom: -180px;
    width: 495px;
    height: 285px;
  }
}

@media (max-width: 768px) {
  .ctnMax > div .gifCardInfo {
    width: 243px;
    height: 187px;
  }
}

.ctnMax > div .gifCardInfo div {
  color: #000;
  text-align: left;
}

.ctnMax > div .gifCardInfo div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ctnMax > div .gifCardInfo div:first-child a {
  width: 32px;
  height: 32px;
  margin: 0px 5px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 1px solid #572ee5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.ctnMax > div .gifCardInfo div:first-child a:hover {
  background-color: #eee;
}

.ctnMax > div .gifCardInfo div:first-child a svg {
  height: 17px;
  width: 17px;
  fill: #572ee5;
}

.ctnMax > div .gifCardInfo div:first-child a.favorito_btn svg:first-child {
  display: block;
}

.ctnMax > div .gifCardInfo div:first-child a.favorito_btn svg:first-child use {
  transform: scale(0.95) translate(-865px, -2784px);
}

.ctnMax > div .gifCardInfo div:first-child a.favorito_btn svg:last-child {
  display: none;
}

.ctnMax > div .gifCardInfo div:first-child a.favorito_btn svg:last-child use {
  transform: scale(0.85) translate(-261px, -426px);
}

.ctnMax > div .gifCardInfo div:first-child a.favorito_btn.cardBtnActive svg:first-child {
  display: none;
}

.ctnMax > div .gifCardInfo div:first-child a.favorito_btn.cardBtnActive svg:last-child {
  display: block;
}

.ctnMax > div .gifCardInfo div:first-child a:nth-child(2) svg use {
  transform: translateY(-8px) translateX(-7px);
}

.ctnMax > div .gifCardInfo div:first-child a:last-child.btnMaxActive {
  position: absolute;
  top: -500px;
  right: -150px;
  border: 0px solid transparent;
}

.ctnMax > div .gifCardInfo div:first-child a:last-child.btnMaxActive svg:first-child {
  display: none;
}

.ctnMax > div .gifCardInfo div:first-child a:last-child.btnMaxActive:hover {
  background-color: transparent;
}

.ctnMax > div .gifCardInfo div:first-child a:last-child.btnMaxActive:hover svg {
  fill: #9cafc3;
}

@media (max-width: 1024px) {
  .ctnMax > div .gifCardInfo div:first-child a:last-child.btnMaxActive {
    right: -80px;
    top: -300px;
  }
}

.ctnMax > div .gifCardInfo div:last-child span {
  display: block;
  font-size: 16px;
}

.ctnMax > div .gifCardInfo div:last-child span:last-child {
  margin-top: 10px;
  font-weight: bold;
}
/*# sourceMappingURL=styles.css.map */